/* (A) "SETTINGS" */
:root {
  /* (A1) DIMENSIONS */
  --tog-width: 40px;
  --tog-height: 20px;
  --tog-c-offset: 4px;
  --tog-c-dim: calc(var(--tog-height) - (var(--tog-c-offset) * 2));

  /* (A2) COLORS */
  --tog-off: #cacaca;
  --tog-on: #2285f5;
  --tog-c-back: #fff;

  /* (A3) SYMBOLS */
  --tog-indicate: "\2758";
}
/* (B) TOGGLE BUTTON CONTAINER */
/* (B1) DIMENSIONS FOR <LABEL> */
.tog {
  position: relative; /* necessary for (b2) position:absolute */
  display: inline-block;
  width: var(--tog-width);
  height: var(--tog-height);
}
.tog,
.tog * {
  box-sizing: border-box;
}

/* (B2) BACKGROUND USING <I> */
.tog i {
  /* (B2-1) FULLY FILL <LABEL> CONTAINER */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* (B2-2) COSMETICS */
  cursor: pointer;
  background: var(--tog-off);
}

/* (B3) HIDE DEFAULT CHECKBOX */
.tog input {
  display: none;
}

/* (C) "INNER TOGGLE BUTTON" USING <I::BEFORE> */
.tog i::before {
  /* (C1) DIMENSIONS & DEFAULT LEFT POSITION */
  content: "";
  position: absolute;
  top: var(--tog-c-offset);
  left: var(--tog-c-offset);
  width: var(--tog-c-dim);
  height: var(--tog-c-dim);

  /* (C2) COSMETICS */
  background: var(--tog-c-back);
}

/* (D) "ON CHECKED" */
/* (D1) CHANGE BACKGROUND COLOR */
.tog input:checked + i {
  background: var(--tog-on);
}

/* (D2) MOVE "INNER TOGGLE BUTTON" TO RIGHT SIDE */
.tog input:checked + i::before {
  left: auto;
  right: var(--tog-c-offset);
}
/* (E) ROUNDED */
.round i {
  border-radius: var(--tog-height);
}
.round i::before {
  border-radius: 50%;
}

/* (F) "ON" INDICATOR */
.indicate input:checked + i::before {
  content: var(--tog-indicate);
  color: var(--tog-on);
  font-style: normal;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
}
